.hero{
    display:flex;
    height:100vh;
    background-color: black;
}

.content{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.mouse {
	width: 30px;
	height: 70px;
	border: 3px solid white;
	border-radius: 60px;
   
	position: relative;
	&::before {
		content: '';
		width: 12px;
		height: 12px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: white;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}
.field{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
     margin-top: 20px;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}
